.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

.racer_table td {
  background-color: white;
  height: 20px;
  width: 20px;
}

.racer_table td {
  border-left: 2px solid red;
  border-right: 2px solid red;
}

.racer_table td.active1 {
  background-color: purple;
}

.racer_table td.active2 {
  background-color: orange;
}
