
<div class="container">
  <h1> Welcome to Ruby Racer! </h1>
  <form id="login" method="post" action="/new_game">
    First player: <br><input type="text" name="name1" placeholder="Insert Name Here"><br><br>
    Second player: <br><input type="text" name="name2" placeholder="Insert Name Here"><br><br>
    <input type="submit" value="Play Game!">
  </form>
</div>
